body {
  background-color: #E8E8E8;
  margin: 0;
}

/* Header information */

.top {
  background-color: black;
  margin: 0;
  height: 25px;
  text-align: center;
}
.top-container {
  width: 50%;
  margin: 0 auto 0 auto;
}
.logo {
  background-color: black;
  color: white;
  width: 10%;
  display: inline-block;
}
.search {
  background-color: black;
  color: white;
  width: 60%;
  display: inline-block;
}
.settings {
  background-color: black;
  color: white;
  width: 30%;
  display: inline-block;
}

/* Body information */

.mid {
  margin-top: 0;
  text-align: center;
}
.mid-contianer {
  margin: 10 auto 0 auto;
  //width: 60%;
}
.navigation {
  background-color: white;
  width: 50px;
  height: 300px;
  display: inline-block;
}
.services {
  background-color: white;
  width: 300px;
  height: 300px;
  display: inline-block;
}
.footer {
  background-color: grey;
}
