body {
  background-color: #E8E8E8;
  margin: 0;
}
.top {
  background-color: black;
  margin: 0;
  text-align: center;
}
.top-container {
  width: 60%;
}
.logo {
  background-color: black;
  color: white;
  height: 15px:
  width: 10%;
  display: inline-block;
}
.search {
  background-color: black;
  color: white;
  height: 15px:
  width: 60%;
  display: inline-block;
}
img {
  width: 15px;
  height: 15px;
}
.settings {
  background-color: black;
  color: white;
  height: 15px:
  width: 30%;
  display: inline-block;
}
.mid {
  margin: o;
  text-align: center;
}
.mid-contianer {
  width: 60%;
}
.navigation {
  background-color: white;
  width: 50px;
  display: inline-block;
}
.services {
  background-color: white;
  width: 50px;
  margin-left: 5px;
  display: inline-block;
}
.footer {
  background-color: grey;
}
