body {
  background-color: #E8E8E8;
  margin: 0;
  text-align: center;
}
div {
  margin: 0;
}
/* Header information */

.top {
  background-color: blue;
  margin: 0;
  height: 35px;
  padding-top: 8px;
  text-align: center;
}
.top-container {
  width: 60%;
  margin: 0 auto;
}
.logo {
  background-color: black;
  color: white;
  width: 10%;
  display: inline-block;
  text-align: left;
}
.search {
  background-color: black;
  color: white;
  width: 20%;
  display: inline-block;
}
form {
  display: inline-block;
}
.settings {
  background-color: black;
  color: white;
  width: 10%;
  display: inline-block;
  text-align: right;
}

.settings-btn {
  width: 20px;
  height: 20px;
}

/* Body information */

.middle {
  margin: 0;
}
.mid-container {
  margin: 5px auto 0 auto;
  width: 60%;
}
.navigation {
  background-color: white;
  width: 125px;
  height: 300px;
  display: inline-block;
  text-align: left;
}
.services {
  background-color: white;
  width: 400px;
  height: 300px;
  padding-left: 5px;
  display: inline-block;
}
.foot {
  background-color: grey;
}
