body {
  background-color: #E8E8E8;
  margin: 0;
}

/* Header information */

.top {
  background-color: black;
  margin: 0;
  height: 25px;
}
.top-container {
  width: 60%;
  margin: 0 auto 0 auto;
}
.logo {
  background-color: black;
  color: white;
  width: 10%;
  display: inline-block;
}
.search {
  background-color: black;
  color: white;
  width: 30%;
  display: inline-block;
}
form {
  display: inline-block;
}
.settings {
  background-color: black;
  color: white;
  width: 10%;
  display: inline-block;
}

/* Body information */

.middle {
  margin: 0;
}
.mid-container {
  margin: 10px auto 0 auto;
  width: 60%;
}
.navigation {
  background-color: white;
  width: 100px;
  height: 300px;
  display: inline-block;
}
.services {
  background-color: white;
  width: 300px;
  height: 300px;
  display: inline-block;
}
.footer {
  background-color: grey;
}
