body {
  background-color: #E8E8E8;
  margin: 0;
  text-align: center;
}

/* Header information */

.top {
  background-color: black;
  margin: 0;
  height: 25px;
}
.top-container {
  width: 50%;
  //margin: 0 auto;
  padding-top: 25px;
}
.logo {
  background-color: black;
  color: white;
  width: 20%;
  display: inline-block;
  text-align: left;
}
.search {
  background-color: black;
  color: white;
  width: 30%;
  display: inline-block;
}
form {
  display: inline-block;
}
.settings {
  background-color: black;
  color: white;
  width: 20%;
  display: inline-block;
  text-align: right;
}

/* Body information */

.middle {
  margin: 0;
}
.mid-container {
  margin: 5px auto 0 auto;
  width: 60%;
}
.navigation {
  background-color: white;
  width: 175px;
  height: 300px;
  display: inline-block;
  text-align: left;
}
.services {
  background-color: white;
  width: 400px;
  height: 300px;
  left-padding: 5px;
  display: inline-block;
}
.foot {
  background-color: grey;
}
